*{
    padding: 0;
    margin: 0;
}
body{
    font-family: arial;
}
h1{
    text-align: center;
    font-size: 40px;
    padding: 10px;
}
.centrar{
    text-align: center;
}
.contenedor{
    width: 1200px;
    margin: auto;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    color: white;
    font-family: verdana;
    font-size: 40px; 
}

.menu{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 30px;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

.menu li a:hover{
    color: #480ecf;
}

.botones{
    display: flex;
    gap: 10px;
}

.primer-boton{
    background-color: white;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
  
.segundo-boton{
    background-color: #007bff;
    color: white;
    border: 2px solid #007bff;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.primer-boton:hover {
    background-color: #007bff;
    color: white;
}

.segundo-boton:hover {
    background-color: white;
    color: #007bff;
}

/*main*/

main{
    background-color: white;
    display: block;
}

.texto h3{
    padding: 25px;
    color: black;
    font-family: arial;
    font-size: 20px;
}

.texto p{
    padding: 20px;
    color: black;
    font-family: arial;
    font-size: 15px;
}

.texto li{
    padding: 20px;
    color: black;
    font-family: arial;
    font-size: 15px;
    text-indent: -20px;
    margin-left: 20px;
}

.asesoria {
	background-image: url(../imagenes/SERVICIOS/asesoria.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: black;
	padding: 150px;
 }
 .asesoria h2{
    background-color: rgba(243, 225, 225, 0.418);
        color: black;
        font-family: arial;
        font-size: 30px;
        position: relative;
        top: -20px;
 }
 .asesoria p{
    background-color: rgba(243, 225, 225, 0.418);
        color: black;
        font-family: arial;
        font-size: 25px;
        position: relative;
        bottom: -15px;
 }
.mantenimiento {
        background-image: url(../imagenes/SERVICIOS/reparacion.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: black;
        padding: 150px;
 }
 .mantenimiento h2{
    background-color: rgba(243, 225, 225, 0.418);
    color: black;
        font-family: arial;
        font-size: 30px;
        position: relative;
        top: -20px;
 }
 .mantenimiento p{
    background-color: rgba(243, 225, 225, 0.418);
    color: black;
        font-family: arial;
        font-size: 25px;
        position: relative;
        bottom: -15px;
 }
 .cursos {
        background-image: url(../imagenes/SERVICIOS/cursos.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: black;
        padding: 150px;
 }
 .cursos h2{
    background-color: rgba(243, 225, 225, 0.418);
    color: black;
        font-family: arial;
        font-size: 30px;
        position: relative;
        top: -20px;
 }
 .cursos p{
    background-color: rgba(243, 225, 225, 0.418);
    color: black;
        font-family: arial;
        font-size: 25px;
        position: relative;
        bottom: -15px;
 }
 .capacitaciones{
        text-align: center;
        padding: 50px;
        display: flex;
        justify-content: space-around;
 }
 .curso{
        text-align: center;
        width: 33.3%;
 }
 .curso img{
        width: 300px;
        height: 200px;
 }
 .curso h3{
        color: blue;
}
 .curso p{
        color: black;
}

footer{
    background-color: black;
    padding: 10px 20px;
}

.footer{
    padding: 10px;
    margin: 20px;
    display: flex;
    width: 1200px;
}

.footer h3, p{
    color: white;
}

.datosFooter{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 300px;
}

.textFooter img{
    width: 200px;
}

.fotoFooter img{
    width: 20px;
}

/*Chat en Vivo*/

.input{
    display: flex;
    border-radius: 10px;
    padding: 10px;
}
.textarea{
    display: flex;
    border-radius: 10px;
    padding: 10px;
}

.boton2{
    background-color: #20C997;
    color: white;
    text-decoration: none;
    border: 2px solid #20C997;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.boton2:hover {
    background-color: white;
    color: #20C997;
}